<!DOCTYPE html>

<html>

  <head>
    <title>About</title>
    <link rel="icon" href="/img/SVT_logo1.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
     <div class=main-content>  
        {{>header}}
        <img class="portrait" src="/img/seventeen_dk_cute_image_main.jpg" />
    </div>

    {{>footer}}
  </body>
  
</html>